@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  background-color:white;

}



.header > h1 {
  color: #24272E;
  position: relative;
  font-family: Nunito Sans;
  font-size: 4vw;
  text-align: left;
  cursor: default;
  display: inline;

}

.header > span {

  color: darkcyan;
  position: relative;
  font-family: Nunito Sans;
  font-size: 1.5vw;
  text-align: right;
  cursor: default;
  display: inline;
  font-style: italic;
}

.header {
  margin-top: 4%;
  text-align: left;
}



.Risk {
  background-color: white;
  color: grey;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 2.5vw;
  width: 100%;
  cursor: default;
  margin-top: 1.05%;
}

.Reward {
  background-color: #white;
  color: grey;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 2.5vw;
  width: 100%;
  cursor: default;
  margin-top: 1.05%;
}



::placeholder {
  color: white;
}

.Lots {
  margin-top: 1.5%;
  background-color: white;
  color: 24272E;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 2.75vw;
  width: 100%;
  cursor: default;
}


.LotClass {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 5.7vw;
  color: #ff2800;
  display:inline-block;
  width: 100%;
  cursor: default;
  margin-top: -1%;
}

#ContractSize {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 1.25vw;
  color: goldenrod;
  display:inline-block;
  width: 100%;
  cursor: default;
  margin-top: -2%;
}


.RiskClass {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 2.7vw;
  color: 24272E;
  display:inline-block;
  width: 100%;
  cursor: default;
}


.RewardClass {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 2.7vw;
  color: 24272E;
  display:inline-block;
  width: 100%;
  cursor: default;
}


.Table2C {
  margin: 0 auto;
}



.selectCurrency > select {
  -webkit-appearance: none !important;
  position: relative;
  /*  background: #ffa32d; */
  background-color: transparent;
  color: rgb(223, 63, 90);
  padding-right: 0px;
  text-indent: 0px;
  font-size: 1.75vw;
  border: 0;
  font-family: Nunito Sans;
  outline: none;
  border-radius: 0px;
  padding-top: 10%;
}

.selectCurrency2 > select {
  -webkit-appearance: none !important;
  position: relative;
  /*  background: #ffa32d; */
  background-color: transparent;
  color: seagreen;
  padding-right: 0px;
  text-indent: 0px;
  font-size: 1vw;
  border: 0;
  font-family: Nunito Sans;
  outline: none;
  border-radius: 0px;
  text-align-last:right;
  vertical-align: middle;
  padding-top: 10%;
}



.RRRatio {
  margin-top: 3%;
   text-align: center;
   font-family: Nunito Sans;
   font-size: 3vw;
   color: slategrey;
   padding: 10px;
 }

.RRRatio > span{
  text-align: center;
  font-family: Nunito Sans;
  font-size: 3vw;
  color: #24272E;
  padding: 10px;
}

.Breakeven {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 3vw;
  color:slategrey;
  padding: 10px;
}

.Breakeven > span{
  text-align: center;
  font-family: Nunito Sans;
  font-size: 3vw;
  color: #24272E;
  padding: 10px;
}

.Label1C  {
  background: white;
  font-size: 2.5vw;
  text-align: right;
  color: #24272E;
  border: 0;
  font-family: Nunito Sans;
}

.Label1D  {
  background: white;
  font-size: 2.25vw;
  text-align: right;
  color: #24272E;
  border: 0;
  font-family: Nunito Sans;
}

.FormID {
  background: white;
  text-align: left;
  font-size: 2.25vw;
  color: #24272E;
  border: 0;
  font-family: Nunito Sans;
  width: 45%;
  margin-right: -10px;
  border-bottom: 0.5px solid white;

}

.FormID:hover {
  border-bottom: 0.5px solid white;

}

.FormID3 {
  background: white;
  text-align: center;
  font-size: 2.5vw;
  color: green;
  border: 0;
  font-family: Nunito Sans;
  width: 25%;
  margin-right: -20px;
  border-bottom: 0.5px solid white;
}

.FormID3-Risk {
  background: white;
  text-align: center;
  font-size: 2.5vw;
  color: red;
  border: 0;
  font-family: Nunito Sans;
  width: 25%;
  margin-right: -20px;
  border-bottom: 0.5px solid white;
}

.FormID3:hover {
  border-bottom: 0.5px solid white;

}

.FormID3-Risk:hover {
  border-bottom: 0.5px solid white;

}


.Table1C {
  margin-top: 1.5%;
  margin: 0 auto;
  padding-left: 9%;
}


#FormID2 {
  text-align: center;
  background: white;
  font-size: 4vw;
  color: #24272E;
  border: 0;
  font-family: Nunito Sans;
}

#FormID2 > input {
  text-align: center;
  width: 15%;
  background: white;
  font-size: 4vw;
  color: #24272E;
  border: 0;
  font-family: Nunito Sans;

}

.td1 {
  text-align: right;
}

.td2 {
  text-align: left;
  padding-left: 5%;
}

.Commision {
  margin-top: .25%;
  color: #24272E;
  text-align: center;
  font-family: Nunito Sans;
  width: 100%;
  cursor: default;
  vertical-align: middle;
  margin-bottom: 1.5%;
}

.EquityLabel {
  margin-top: .25%;
  color: #24272E;
  text-align: center;
  font-family: Nunito Sans;
  width: 100%;
  cursor: default;
  vertical-align: middle;
  margin-bottom: 1%;
  font-size: 1.25vw
}

#CommBal {
  font-size: 1vw;
  font-style: italic;
  margin-right: 0.25%;
}


#CommValue {
  color: orange;
  font-size: 1.05vw;
}

.updated {
  margin-top: .25%;
  background-color: #white;
  color: grey;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 1vw;
  width: 100%;
  cursor: default;
  position: relative;
  text-align: left;
  cursor: default;
}

.updated:hover {

  color: #24272E;
}


#date {
  font-style: italic;
  color: #24272E;
}
